* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    scroll-behavior: smooth;
}

:root {
    --yellow: #FCDB32;
    --shadow-yellow: rgba(255, 251, 7, 0.952);
    --color-sun: #FCDB32;
    --color-stone: #141D38;
    --transition: all 0.5s ease-in-out;
    --font-title: 1.8em;
    --dark: #1B1C22;
    --blur: rgba(255, 255, 255, 0.1);

}
.nav-mobile {
    display: none;
}
header {
    position: fixed;
    padding: 10px;
    background-color: var(--blur);
    backdrop-filter: blur(10px);
    width: 60%;
    border-radius: 20px;
    top: 20px;
    left: 20%;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

#navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    border-radius: 20px;
}

.navlinks > .logo > a {
    color: var(--color-sun);
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-items {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.nav-items a {
    color: white;
}

.nav-items li a:hover {
    color: var(--yellow);
}
.instagram a,
i {
    color: var(--color-sun);
    font-size: 22px;
    align-items: center;
}

/*-------------------------LANDING PAGE-------------------*/

.landing-page {
    height: 100vh;

}

.hero {
    background: url("/asets/src/img/hero.JPG") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    height: 100%;
    z-index: 1;
}

.container-title {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    filter: none;
}

.fade-in-delay-1 {
    animation: fadeIn 1.2s ease-in;
}
.fade-in-delay-2 {
    animation: fadeIn 2s ease-in;
}
.fade-in-delay-3 {
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translatey(0);}
}


.fade-out-delay-1 {
    animation: fadeOut 1.2s ease-out;
}
@keyframes fadeOut {
    from {opacity: 0; transform: translateY(100px);}
    to {opacity: 1; transform: translatey(0);}
}

.container-title .title h2 {
    text-align: center;
    font-size: calc(18px + 1vw);
    color: var(--shadow-yellow);
    margin-bottom: 20px;
}
.container-title .title p {
    color: white;
    text-align: center;
    font-size: calc(12px + 1vh);
}
.title span {
    font-style: italic;
    font-weight: 600;
    color: var(--shadow-yellow);

}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;

}
.scroll i {
    font-size: 3em;
    margin-bottom: 20px;
    animation: blink 3s infinite;

}
.scroll span {
    color: white;
    font-weight: 400;
    font-style: normal;

}

.hamburger {
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

/*-------------------------END LANDING PAGE-------------------*/

/*----------GALERY-----*/

.gallery {
    z-index: 1;
    background-color: #1C1C22;
    backdrop-filter: blur(10px);
    padding: 70px 20px;

}

.title-gallery {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    width: 60%;
    border-radius: 20px;
    margin-left: 20%;
    margin-bottom: 2rem;
    padding: 10px;
}

.title-gallery h2 {
    text-align: center;
    font-size: var(--font-title);
    padding: 10px;
    color: var(--shadow-yellow);
}
.container-gallery {
    background-color: var(--color-stone);
    box-shadow: 2px 2px 10px 2px var(--shadow-yellow);
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 40px 20px;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;

}
.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

}

.card {
    transform: translateX(-50px);
    cursor: pointer;
    position: relative;
    box-shadow: 20px rgb(0, 2,2);
    opacity: 0;

}
.card.show {
    transform: translateX(0);
    opacity: 1;
    transition: var(--transition);
}
.card.hidden {
    transform: translateX(-50px);
    opacity: 0;
    transition: var(--transition);
}

.image {

    border-radius: 0 200px;
    max-width: 100%;
    width: 400px;
    height: auto;
    transition: var(--transition);
}

.overlay {
    position: absolute;
    will-change: backdrop-filter;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.5);
    max-width: 100%;
    height: 100%;
    transition: 0.5s ease;
    overflow: hidden;
}
.overlay .text {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

}
.card:hover .overlay {
    height: 0;
    -webkit-backdrop-filter: blur(10px);
    
}

.overlay:hover {
    height: auto;
}


/*----------END GALERY-----*/

/*-------------RACE-----------*/
.history-race{
    padding: 50px 10px;
    background: var(--color-stone);

}
.title-article {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    margin: 1.2rem 20%;
}
.title-article h2 {
    text-align: center;
    font-size: var(--font-title);
    padding: 10px;
    color: var(--shadow-yellow);
}

.container-race h2 {
    text-align: center;
    font-size: var(--font-title);

}
details {
    padding: 20px;
    width: 80%;
    margin-left: 10%;

}
details.open {
    transition: var(--transition);
}
summary {
    padding: 20px;
    background: var(--yellow);
    color: var(--color-stone);
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--color-sun);
    margin-top: 20px;

}
thead th {
    padding: 20px;
    background-color: var(--color-stone);
    color: var(--color-sun);
}
tbody tr:nth-child(odd) {
    background-color: white;

}
tbody tr:nth-child(even) {
    background-color: rgb(173, 173, 173);

}
tbody td {

    padding: 10px;
    text-align: center;
}

/*-------------END RACE-----------*/

/*-------------FOOTER-----------*/

footer {
    height: 50vh;
    background: var(--dark);
}
.container-social {
    margin-left: 10%;
    padding: 20px;
    height: 45dvh;

}
.container-social h2 {
    color: var(--color-sun);
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.container-media {
    position: relative;
    top: 100px;

}

.container-media,
h3,
p {
    color: var(--color-sun);
}

.media a {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-sun);
    gap: 5px;
}

/*-------------END FOOTER-----------*/

/*-------------MOBILE---------*/

@media only screen and (max-width: 600px) {
    /*------------HERO-----------*/
    header {
        width: 100%;
        left: 0;

    }
    #navbar.scrolled {
        border-radius: 0;
    }

    #navbar.collapsed {
        height: 60px;
    }
    #navbar.expands {
        height: 250px;
        transition: var(--transition);

    }

    #navbar.collapsed .nav-mobile li {

        padding: 10px;

    }
    #navbar.expands .nav-mobile {
        transition: var(--transition);
    }
    #navbar.expands .nav-mobile {
        animation-delay: 1s;
    }
    #navbar.expands .nav-mobile,
    li a {
        display: block;
        color: white;
        padding: 10px;
        cursor: pointer;

    }

    .nav-mobile li a:hover {

        color: var(--yellow);
    }
    header .navlinks {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }
    .instagram,
    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .container-title .title h2 {
        padding: 0 10px;
    }
    .container-title .title p {
        text-align: center;
        margin-top: 20px;
        padding: 0 10px;
        line-height: 1.5;

    }

    /*------------ END HERO-----------*/

    .title-gallery {

        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);
        width: 60%;
        margin-left: 20%;
        padding: 0;
    }
    .container-gallery {
        width: 100%;
        margin-left: 0;
        overflow: hidden;

    }
    .card {
        display: flex;
        justify-content: center;
    }
    .image {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 20px;
        border-radius: 0 100px;

    }

    .container-card {
        display: flex;
        flex-wrap: wrap;

    }
    .image:hover .overlay {
        height: 100%;
    }

    /*------------RACE----------*/
    details {
        margin-left: 0;
        width: 100%;
    }
    table {

        width: 100%;

    }

    /*----------FOOTER------*/
    
.container-social {
    padding: 20px 20px 0 0;
} 
    .container-media {
        position: relative;
        top: 50px;
    }
    .footer {
        height: 70vh;
        background-color: var(--dark);
    }

}

@media screen and (max-height: 900px) {
   footer {
        height: 70vh;
        }
         .container-social {
        height: 65vh;

    }
    
}
